<% if logged_in? %>
    <%= form_with model: [subject, subject.posts.build ] do |form| %>
        <div class="post-creator">
            <h2>Create a post</h2>

            <%= form.label :title %>
            <%= form.text_field :title, placeholder: "Title" %>

            <%= form.label :body %>
            <%= form.text_area :body, placeholder: "Write details here..." %>

            <%= form.submit "Confirm" %>
        </div>
    <% end %>
<% end %>