<div>
    <h2><%= @post.user.name %></h2>
    <h3><%= @post.title %></h3>
    <p><%= @post.body %></p>
    <footer><%= @post.created_at %></footer>
</div>

<%= render partial: "application/record_limiter", 
locals: {collection: @post.comments} %>

<% if logged_in? %>
    <h2>Create a comment:</h2>
    <%= render 'comments/form' %>
<% end %>