<%= turbo_frame_tag "category_builder" do %>
    <% form_with model: category, data: {controller: "form"} do |form| %>
        <div class="category-creator">
            <%= form_exit_button %>
            <h2>Create category</h2>
            <%= form.label :name %>
            <%= form.text_field :name, placeholder: "Name" %>

            <% category.errors.full_messages.each do |message| %>
                <div class="alert"><%= message %></div>
            <% end %>

            <%= form.submit "Confirm" %>
        </div>
    <% end %>
<% end %>